<div class="awards">
  <pre></pre>
  <h2>Awards</h2>
  <table width="100%" cellpadding="5">
    <tbody>
      <tr>
        <td style="width: 70%; text-align: left; padding-left: 20px">
          <strong fr-fix-stroke="true"> Execellent Graduate </strong> | Xi'an
          Jiaotong University
        </td>
        <td style="width: 30%; text-align: right">2021</td>
      </tr>
      <tr>
        <td style="width: 70%; text-align: left; padding-left: 20px">
          <strong fr-fix-stroke="true"> Execellent Student </strong> | Xi'an
          Jiaotong University
        </td>
        <td style="width: 30%; text-align: right">2020</td>
      </tr>
      <tr>
        <td style="width: 70%; text-align: left; padding-left: 20px">
          <strong fr-fix-stroke="true"> National Scholarship </strong>
          | Ministry of Education, China
        </td>
        <td style="width: 30%; text-align: right">2018</td>
      </tr>
    </tbody>
  </table>
</div>

