<div class="card-item col">
  <div class="card hoverable">
    <div class="row">
      <div class="col-sm-2">
        {%- assign logo_path = experience.img -%} {% include figure.html
        path=logo_path class="rounded" alt=experience.img -%}
      </div>
      <div class="col-sm-10">
        <div class="card-body">
          <div class="card-title">{{ experience.title }}</div>
          <table class="card-text" width="100%">
            <tr>
              {% if experience.tutor %}
              <td style="width: 70%; text-align: left">
                Supervisor:
                <a href="{{experience.tutor_link}}"> {{ experience.tutor }}</a>
              </td>
              {% else %} {% if experience.course %}
              <td style="width: 70%; text-align: left">
                {{ experience.course }}
              </td>
              {% else %} {% if experience.thesis %}
              <td style="width: 70%; text-align: left">
                Thesis: {{ experience.thesis }}
              </td>
              {% endif %} {% endif %} {% endif %}
              <td style="width: 30%; text-align: right">
                {{ experience.timespan }}
              </td>
            </tr>
          </table>
          <p class="card-text">{{ experience.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
