<h2>Experience</h2>
<div class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">TU Delft</span>
        <span class="time-wrapper"><span class="time">Aug. 2021 - present</span></span>
      </div>
      <div class="desc">MSc Robotics</div>
    </div>
  </li>

  <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">ZJU FAST Lab</span>
        <span class="time-wrapper"><span class="time">Jan. 2021 - Aug. 2021</span></span>
      </div>
      <div class="desc">Visiting student. <br> Supervised by Dr. Fei Gao</div>
    </div>
  </li>
  
  <!-- Item 2 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">University of Edinburgh</span>
        <span class="time-wrapper"><span class="time">Jan. 2020 - Jun. 2020</span></span>
      </div>
      <div class="desc">Exchange Student. <br> 
        Core Courses: <br> 
        Reinforcement Learning(A),<br> 
        Robot Learning and Sensorimotor Control(A), <br>
        Game Theory
        </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">Xi'an Jiaotong University</span>
        <span class="time-wrapper"><span class="time">Aug. 2017 - Jul. 2021</span></span>
      </div>
      <div class="desc">Bachelor of Engineering, Automation. <br> Final GPA: 90.92/100 <br>Bachelor thesis: Event-based moving object avoidance for UAVs</div>
    </div>
  </li>
  </div>
