---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
    </h1>
    <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
      <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.social %}
    <p>
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    </p>
    {% endif %}

    {% if page.selected_papers %}
    {% include selected_papers.html %}
    {% endif %}

    {% if page.projects %}
    <pre></pre>
    <h2>Selected Projects</h2>
    {%- assign sorted_projects = site.projects | sort: "importance" %}
    <div class="projects">
      <div class="container">
        <div class="row row-cols-1">
          {% for project in sorted_projects %}
          {% include selected_projects.html %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if page.experience %}
    <pre></pre>
    <h2> Experience </h2>
    <div class="experience">
      <div class="container">
        <div class="row row-cols-1">
          {% for experience in site.experience %}
          {% include experience.html %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    <br></br>
    {% if page.awards %}
    {% include awards.html %}
    {% endif %}

    <br></br>
    {% if page.teaching %}
    {% include teaching.html %}
    {% endif %}

    <br></br>
    {% if page.services %}
    {% include services.html %}
    {% endif %}

    {% if page.memberships %}
    {% include memberships.html %}
    {% endif %}

    <br></br>
    {% if page.news %}
    {% include news.html %}
    {% endif %}


  </article>

</div>
